/* globals.css */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E1E24;
  --color-primary: #9747FF;
  --color-primary-light: #8B9DE0;
  --color-bg-light: #F0F4FF;
  --color-white: #FFFFFF;
  --color-danger: #FF4757;
  --color-success: #10b981;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
